html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  background-color: #363C49;
}

button {
	padding: 5;
	color: #363C49;
	font-weight: bold;
	background: #5294e2;
	border: 0;
	margin: 0;
	width: 8em;
	height: 2em;
    cursor: pointer;
}
main {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
}

h1 {
  color: #5294e2;
  display: block;
  margin: 0 auto;
}

hr {
  border: 0;
  border: 1px solid #5294e2;
}

ul {
  display: block;
  margin: 0;
}

p {
	margin: 0;
	border: 0;
}

li {
  color: #5294e2;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  color: #d3dae3;
  text-decoration: none;
  transition: .2s;
}

a.reddit {
color: #5294e2;
}

a:hover {
  color: #ff79c6;
}

